
<app-navbar></app-navbar>

<div>

  <link rel="stylesheet" href="register.component.css">
    <div class="sign-up-wrapper">
    <div class="sign-up-container">

        <div class="sign-up-image">
            <h3>Welcome!</h3>
            <p>To keep you conected with us please CREATE an account. </p>
           <div class="bottom-signup">
               <p>Already have an account?
                   <br>
                   LOG IN here.
               </p>
               <button type="submit" id="sign-up-btn">LOGIN</button>
           </div>
        </div>

        <form  #registerForm="ngForm" (ngSubmit)="registerUser(registerForm.value)" class="sign-up-form">
            <h2>CREATE ACCOUNT</h2>
            <input type="text" id="username" placeholder="UserName"      ngModel    name="userName" required>
            <input type="email" id="email" placeholder="Email"           ngModel    name="email" required>
            <input type="password" id="password" placeholder="Password"  ngModel    name="password" required autocomplete="on">
            <button type="submit" id="login-btn">SIGN UP</button>
        </form>

    </div>

</div>

