

<!-- login -->

<app-navbar></app-navbar>

<div>

  <link rel="stylesheet" href="login.component.css">

    <div class="login-wrapper">
    <div class="login-container">

        <div class="login-image">
            <h3>Welcome Back!</h3>
            <p>To keep conected with us please login into your account. </p>
           <div class="bottom">
               <p>Don't have an account?
                   <br>
                   SIGN UP for free below.
               </p>
               <button type="submit" id="sign-up-btn">SIGN UP</button>

           </div>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="loginUser()" class="login-form">
            <h1>Login</h1>
            <input type="text" formControlName="email" id="email" placeholder="Email" name="email" >
            <div *ngIf="loginForm.get('email')?.invalid && !loginForm.get('email')?.touched" class="tex-sm text-red-500 mt-[3px]">This is Required</div><br>
            <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="tex-sm text-red-500 mt-[3px]">Invalid Format</div>

            <p id="email-error"></p>
            <input type="password" formControlName="password" id="password" placeholder="Password" name="password"  required autocomplete="on">
            <div *ngIf="loginForm.get('location')?.invalid && loginForm.get('location')?.touched" class="tex-sm text-red-500 mt-[3px]">Please Input Password!!!</div>
            <div class="reset">
                <div class="rem-me">
                </div>
                <a href="">Forgot password</a>
            </div>
            <button type="submit" id="login-btn">Login</button>
        </form>
    </div>
</div>

</div>


